src/main/resources/kaspi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) by Daniel Brodkorb (mgm technology partners gmbh) -->
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns="kaspiShopping" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="kaspiShopping">
    <xs:element name="model" type="xs:string">
        <xs:annotation>
            <xs:documentation>Model name of the product, typically a good description describing the product unambiguously</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="offer">
        <xs:annotation>
            <xs:documentation>Attribute rownumber is only used for internal processing</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="model"/>
                <xs:element ref="brand" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="availabilities" minOccurs="0"/>
                <xs:element ref="deliveryOptions" minOccurs="0"/>
                <xs:choice>
                    <xs:element ref="price"/>
                    <xs:element ref="cityprices"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="sku" type="xs:string" use="required"/>
            <xs:attribute name="rownumber" type="xs:unsignedLong" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="offers">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="offer" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="brand" type="xs:string"/>
    <xs:element name="company" type="xs:string"/>
    <xs:element name="merchantid" type="xs:string"/>
    <xs:element name="availability">
        <xs:complexType>
            <xs:attribute name="storeId" type="xs:string" use="required"/>
            <xs:attribute name="available" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="deliveryOption">
        <xs:complexType>
            <xs:attribute name="city" type="xs:string" use="required"/>
            <xs:attribute name="priceToDoor" type="xs:unsignedLong" use="optional"/>
            <xs:attribute name="priceToPP" type="xs:unsignedLong" use="optional"/>
            <xs:attribute name="timeToDoor" type="xs:unsignedLong" use="optional"/>
            <xs:attribute name="timeToPP" type="xs:unsignedLong" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="kaspi_catalog">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="company"/>
                <xs:element ref="merchantid"/>
                <xs:element ref="offers"/>
            </xs:sequence>
            <xs:attribute name="date" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="availabilities">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="availability" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deliveryOptions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="deliveryOption" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="price">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_price">
                    <xs:attribute name="oldprice" type="xs:unsignedLong" use="optional" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="cityprices">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cityprice" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="cityprice">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_price">
                    <xs:attribute name="cityId" type="xs:string" use="required"/>
                    <xs:attribute name="oldprice" type="xs:unsignedLong" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="ST_price">
        <xs:restriction base="xs:unsignedLong"/>
    </xs:simpleType>
</xs:schema>